.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 15%;
    height: 100px;
    background-color: rgba(37, 50, 55, 0.15);
}

.navegacao__listas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.lista__itens {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black-color);
}